body {
  background: #fff
}

span {
  font-size: 20px;
  font-family: Manrope;
  color: #64607D;
}

.team-boxed {
  color: #313437;
  background-color: #eef4f7;
}

.team-boxed p {
  color: #7d8285;
}

.team-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.team-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.team-boxed .intro p {
  margin-bottom: 0;
}

.team-boxed .prices_plan {
  padding: 50px 0;
}

.team-boxed .item {
  text-align: center;
}

.team-boxed .item .box {
  border: 1px solid #eee;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
}

.team-boxed .item .box.bg-tranparent {

  background-color: transparent;

}

.team-boxed .item .name {
  font-family: 'Acme', sans-serif;
  font-size: 30px;
  font-weight: lighter;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
}

.team-boxed .item .price {
  text-transform: uppercase;
  color: #000;
  font-family: 'Baloo Chettan 2', cursive;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 60px;
}

.team-boxed .item .description {
  padding-top: 50px;
  margin-bottom: 60px;
  padding-left: 25px;
  text-align: left;
}

.team-boxed .item .description img {
  width: 15px;
  height: 15px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.team-boxed .item .description span {
  font-family: 'Baloo Chettan 2', serif;
  font-weight: bold;
  font-size: 16px;
}

.team-boxed .item .button-start {
  width: 231px;
  height: 60px;
  background: transparent;
  font-family: Cairo;
  font-size: 18px;
  border-color: #514040;
  border-radius: 5px;
  color: #000;
}

.team-boxed .item .button-start.green {
  background-color: #49AD09;
  border: none;
}

.team-boxed .item .button-start:hover {
  background-color: #3734a9;
  color: white;
  transition: all 0.5s;
}


.team-boxed .item img {
  max-width: 160px;
}

.team-boxed .social {
  font-size: 18px;
  color: #a2a8ae;
}

.team-boxed .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}

.team-boxed .social a:hover {
  opacity: 1;
}

.main-image {
  margin: auto;
  border-style: none;
  width: 369px;
}

@media screen and (max-width: 767px) {
  .main-image {
    width: 269px;
  }

}


/* SECTIONS */
section.home {
  background-color: #F1F1FF;
  padding: 40px;
  height: 870px
}

section.testimonials {
  padding: 60px;
}

section.caracteristicas {
  padding: 75px;
}

section.design {
  padding: 75px;
}

section.design img {
  width: 200px;
}


/* CAROUSEL CLIENTS */

.shadow-effect {
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ECECEC;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.02);
}

#customers-testimonials .shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
}

.testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  background: #3734a9;
  padding: 9px 35px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

#customers-testimonials .item {
  text-align: center;
  padding: 50px;
  margin-bottom: 80px;
  opacity: .2;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1.0, 1.0, 1);
  transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-item img {

  transform-style: preserve-3d;
  max-width: 90px;
  margin: 0 auto 17px;
  border: solid 4px #3734A9;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: #3734a9;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #3190E7;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}

#customers-testimonials .customer-stars {
  color: #D8EA0B;
  font-size: 15px;
}


/* CAROUSEL GALLERY */

.carousel-indicators {
  margin-bottom: -2rem !important;
}

.carousel-indicators button,
.carousel-indicators button:active,
.carousel-indicators button:focus,
.carousel-indicators button:hover {

  background-color: #000 !important;

}

.carousel-item img {
  margin: auto;
  width: 315px;
}